.dropdownContainer {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    top: 60px;
    background: var(--body-bg);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 280px;
    overflow: hidden;
    z-index: 1000;
}