.input {
    width: 100%;
    padding: 0.7rem 1rem;
    // border: 1px solid var(--card-border);
    color: var(--text-color-primary);
    border-radius: 6px;
    background-color: var(--bg-content);
    font-size: 1rem;
    transition: border 0.2s;
    box-shadow: rgba(51, 88, 230, 0.15) 0px 8px 24px;

    &:focus {
        border: 1px solid #4f8cff;
        outline: none;
    }
}