.toast {
    display: flex;
    align-items: center;
    background-color: var(--body-bg);
    color: var(--text-color-primary);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.404);
    margin-bottom: 0.75rem;
    position: relative;
    gap: 0.75rem;
    animation: slideIn 0.3s ease forwards;

    &.success {
        border-left: 5px solid #28a745;
    }

    &.error {
        border-left: 5px solid #dc3545;
    }

    &.warning {
        border-left: 5px solid #ffc107;
    }
}

.icon {
    margin-right: 0.75rem;
    font-size: 1.5rem;
}

.message {
    flex: 1;
    font-size: 0.95rem;
}

.closeButton {
    background: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 1.25rem;

    &:hover {
        color: #333;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}