.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
    gap: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.5rem;

      button {
        width: auto; // padrão: largura automática (botão compacto)
      }

      @media (max-width: 600px) {
        flex-direction: column;
        gap: 1rem;

        button {
          width: 100%; // em telas pequenas: ocupa 100%
        }
      }
    }

    // .content {
    //   background-color: var(--bg-header);
    //   color: #fafafa;
    //   border-radius: 1rem;
    //   width: 100%;
    //   overflow-y: auto;
    //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    //   box-sizing: border-box;
    //   height: calc(100vh - 10.5rem);

    //   min-height: 0;

    //   &:last-child {
    //     margin-bottom: 1rem;
    //   }
    // }

    .content {
      display: grid;
      justify-items: center;
      background-color: var(--bg-header);
      padding: 1.5rem;
      color: #fafafa;
      border-radius: 1rem;
      width: 100%;
      overflow-y: auto;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      box-sizing: border-box;
      height: calc(100vh - 10.5rem);
      min-height: 0;

      &:last-child {
        margin-bottom: 1rem;
      }
    }

  }
}