.formContainer {
    min-width: 530px;
    padding: 2rem;
    // background-color: var(--card-bg);
    border-radius: 1rem;
    color: var(--text-color-primary);
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 1.5rem;
        text-align: center;
        color: var(--text-color-primary);
        ;
    }
}


textarea {
    width: 100%;
    min-height: 120px;
    padding: 8px;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    resize: vertical;
    box-sizing: border-box;
}

.dragonForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formGroup {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.4rem;
        color: var(--text-color-secondary);
        font-weight: 500;
        font-size: 0.98rem;
    }

    .selectInput {
        width: 100%;
        padding: 0.7rem 1rem;
        // border: 1px solid var(--card-border);
        color: var(--text-color-primary);
        border-radius: 6px;
        background-color: var(--bg-content);
        font-size: 1rem;
        transition: border 0.2s;
        box-shadow: rgba(51, 88, 230, 0.15) 0px 8px 24px;

        &:focus {
            border: 1px solid #4f8cff;
            outline: none;
        }
    }

    .textarea {
        width: 100%;
        padding: 0.7rem 1rem;
        // border: 1px solid var(--card-border);
        color: var(--text-color-primary);
        border-radius: 6px;
        background-color: var(--bg-content);
        font-size: 1rem;
        transition: border 0.2s;
        box-shadow: rgba(51, 88, 230, 0.15) 0px 8px 24px;

        &:focus {
            border: 1px solid #4f8cff;
            outline: none;
        }
    }

}


.formActions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    button {
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0.2s;

        &:first-child {
            background-color: #757575;
            color: white;

            &:hover:not(:disabled) {
                background-color: #616161;
            }
        }

        &:last-child {
            background-color: #4caf50;
            color: white;

            &:hover:not(:disabled) {
                background-color: #388e3c;
            }
        }

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }
}

@media (max-width: 768px) {
    .formContainer {
        min-width: 100%;
    }
}